<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href ='/css/style.css'>
    <script src='/js/app.js'></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <h1>{{제목}}</h1>
    <h2>초기화면입니다.</h2>
    {{>footer}}
</body>
</html>