
h2{
    color : navy;
}

img{
    width:500px;
}

body{
    color:#13c052;
    font-family:serif;
    max-width:650px;
    margin:0 auto;
    background-color:#d6f5b7;
}

footer{
    color:#1275d1;
    border-top:1px solid #333333;
    margin-top:300px;
    padding:5px 0;
}

header{
    margin-top:16px;
    margin-bottom:48px;
}

header a{
    color:#ae4040;
    margin-bottom:16px;
    text-decoration: none;
}

h1{
    font-size : 45px;
}